<h1>現在のカート内</h1>
<table class="table table-borderd">
	<thead>
		<tr>
			<th>品名</th>
			<th>単価</th>
			<th>数量</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>購入予定商品</td>
			<td>￥1000</td>
			<td>1</td>
			<td>削除</td>
		</tr>
	</tbody>
</table>
<button type="button">配送先住所選択へ進む</button>