<!-- 商品詳細ページ(ユーザー側) -->
<div class="container">
	<div class="row">
		<div class="col-lg-9">
				<div class="col-lg-6">
					<img src=/assets/test1.jpg height="300" width="300">
				</div>
				<div class="col-lg-6">
					<div>
							<div id="item-info">CDタイトル</div>
							<div id="item-info">アーティスト名</div>
							<div id="item-info">価格(税込)　1000円</div>
							<div id="item-info">売り切れ</div>
							<div id="item-info">レーベル: ooo</div>
							<div id="item-info">ジャンル: ooo</div>
					</div>
				</div>
				<div class="col-lg-12" style="text-align: center; font-size: 30px; margin-top: 30px;">収録曲</div>
				<div class="col-lg-12" style="font-size: 15px; border: solid 1px;">
					<p>o1, 曲名１</p>
					<p>02, 曲名１</p>
					<p>03, 曲名１</p>
					<p>04, 曲名１</p>
					<p>05, 曲名１</p>
				</div>
			</div>
		<div class="col-lg-3">
			<%= link_to 'カートに入れる', "/items/id", class: "btn btn-default btn-lg" %>
		</div>
	</div>
</div>

